<!-- imagen Ronal -->
<img class="ronal paddinTop" src="./assets/imagen/Ronal.png" alt="Ronal imagen">
  

<h2 class="text-center fw-bold m-4">Formulario de contacto</h2>
<form #nombreForm="ngForm" (ngSubmit)="enviarNombre()">
  <!-- label e input de nombre y apellido -->
  <div class="form-group row mb-3">
    <div class="col-sm-5 row justify-content-center">
      <div class="col-sm-1">
        <label for="nombre" class="col-form-label required">Nombre:</label>
      </div>
      <div class="col-sm-4 ms-5">
        <input type="text"
                class="form-control"
                required
                id="nombre"  
                [(ngModel)]="nombre"
                name="nombre"
                minlength="2"
                placeholder="Ingrese su nombre">
      </div>
    </div>
    <div class="col-sm-4 row justify-content-center">
      <div class="col-sm-1">
        <label for="apellido" class="col-form-label required">Apellido:</label>
      </div>
      <div class="col-sm-5 ms-5">
        <input type="text"
                class="form-control"
                id="apellido"
                required
                [(ngModel)]="apellido"
                name="apellido"
                placeholder="Ingrese su apellido">
      </div>
    </div>
  </div>
  <!-- label e input de correo -->
  <div class="form-group row mb-3 col-sm-6 margenEmailLabel">
    <label for="correo" class="col-sm-3 col-form-label required">Correo electrónico:</label>
    <div class="col-sm-6 margenEmailInput">
      <input type="email"
              class="form-control"
              id="correo"
              required
              [(ngModel)]="correo"
              name="correo"
              placeholder="Ingrese su correo electrónico">
    </div>
  </div>
  <!-- lavel e input de comentarios -->
  <div class="form-group row margenComentario">
    <label for="comentarios" class="col-sm-1 col-form-label">Comentarios:</label>
    <div class="col-sm-10 margenComentarioInput">
      <textarea class="form-control textoDeArea"
                id="comentarios"
                [(ngModel)]="comentario"
                name="comentarios"
                rows="3"
                maxlength="500"
                placeholder="Ingrese un comentario. Máximo 500 caracteres."></textarea>
    </div>
  </div>
  <div class="col-sm-12 row justify-content-center">
      <button class="btn btn-outline-primary btn-sm p-2 m-2 text-center col-sm-1"
              [disabled]="nombreForm.invalid">Enviar
      </button>
  </div>
</form>